@import '~styles/mixins';

.tab-transition {
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;      
}

.tab {
  @extend .tab-transition;
  @include respond-to(mobile) {
    font-size: .7rem;
  }
  display: inline-block;
  padding: .125rem;
  font-size: .8rem;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--color--font);  
    transform: scaleX(0);  
    transition: transform .25s ease-in-out;
  }

  &:hover:after {
    transform: scaleX(.9);
  }

  a {
    text-decoration: none;
    color: var(--color--font);
  }

  &--selected {
    &:after {
      transform: scaleX(.9);
    }
  }
}

