@import '~styles/mixins';

.void-text {
    color: var(--color--bg);
    @include animation-definition(voidText 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate);
}

@-moz-keyframes voidText { to { opacity: 0; } }
@-webkit-keyframes voidText { to { opacity: 0; } }
@keyframes voidText { to { opacity: 0; } }