@import '~styles/mixins';

.hexagon {
  cursor: pointer;
  fill: transparent;
  stroke: var(--color--bg);
  stroke-width: 1;
  transform-origin: 50% 50%;

  &:hover {
    @include animation-definition(hexagon 4s linear infinite);
  }
}

@include keyframes-definition(hexagon) {
  100% {
    @include transform-definition(rotate(360deg));
  } 
}
